{% extends "layout.html" %}
{% block body %}
  <div class="style">
    <div id="tabnavi">
      <div class="size">
        <div id="move_tab">
          <ul>
            <li class="tab tab-unsel"><a href="/">&nbsp;&nbsp;&nbsp;トップ&nbsp;&nbsp;&nbsp;</a></li>
            <li class="tab tab-unsel"><a href="portfolio">ポートフォリオ</a></li>
            <li class="tab tab-selected"><a href="artifact">成果物管理</a></li>
            <li class="tab tab-unsel"><a href="person">個人日誌</a></li>
            <li class="tab tab-unsel"><a href="goal">ゴール設定</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="headline">フォルダ作成<br>
        <form action="" method="post" enctype="multipart/form-data">
          <p>
            <input type="text" name="directoryname" />
            <input type="submit" value="作成" class="btn btn-secondry" />
          </p>
          <h3>ファイルのアップロード</h3>
          <p>
            <input type="file" name="file" />
            <input type="submit" value="Upload" class="btn btn-secondry" />
          </p>
        </form>
        {% for dirdisplay, dirurl in dir %}
        <br>
        <i class="icon-folder-close"></i>
        <a href={{"/artifact/"+dirpath+dirurl}}>{{dirdisplay}}</a>
        {% endfor %}
        {% for filedisplay, fileurl in ls %}
        <br>
        <i class="icon-file"></i>
        <a href={{"/view_file/" + dirpath + fileurl}} target="_blank">{{filedisplay}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
