{% extends "layout.html" %}
{% block body %}
  <div Class="style">
    <div id="tabnavi">
      <div Class="size">
        <div id="move_tab">
          <ul>
            <li class="tab tab-unsel"><a href="/">&nbsp;&nbsp;&nbsp;トップ&nbsp;&nbsp;&nbsp;</a></li>
            <li class="tab tab-unsel"><a href="portfolio">ポートフォリオ</a></li>
            <li class="tab tab-unsel"><a href="artifact">成果物管理</a></li>
            <li class="tab tab-unsel"><a href="person">個人日誌</a></li>
            <li class="tab tab-selected"><a href="goal">ゴール設定</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="goal-set">
        <h3>ゴール設定</h3>
        <div class="goal-set-input">
          <form method="post" action="/goal_post_goal">
            <h4>達成したい目標を設定</h4>
            <input type="text" name="goal_title" style="width:250px; margin-top:10px; margin-right: 7px;" required>
            <input type="hidden" name="button_name" value="make">
            <input type="submit" name="goal" class="btn btn-primary" value="新規作成" id="make_goal">
          </form>

          <h4>ゴール</h4>
          <div class="accordion" id="accordion2">
            {% if goal_texts != None %}
            {% for goal_text in goal_texts %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <div class="goal_box">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ goal_text[0].title }}">
                    <div class="sankaku">▶</div>{{ goal_text[0].title }}
                  </a>
                </div>
                <div style="display: inline-block;">
                  <form method="post" action="/remove_goal" style="vertical-align:middle;">
                    <input type="hidden" name="button_name" value="remove">
                    <input type="hidden" name="goal_title" value="{{ goal_text[0].title  }}">
                    <input type="submit" name="remove" class="btn btn-danger" style="heigth: 100%;" value="削除">
                  </form>
                </div>
              </div>
                <div id="{{ goal_text[0].title  }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul>
                    <form method="post" action="/goal_post_goal_item">
                      <input type="hidden" name="goal_title" value="{{ goal_text[0].title }}">
                      <input type="hidden" name="button_name" value="make">
                      <input type="text" name="goal_item_title" style="width:250px; margin-top:10px; margin-right: 7px;" required>
                      <input type="submit" name="goal_item" class="btn btn-primary" value="新規作成">
                    </form>
                    <form method="post" action="/goal_item">
                      <input type="hidden" name="goal_title" value="{{ goal_text[0].title }}">
                      {% for goalitem in goal_text[1] %}
                      <li {% if goalitem.change_data[-1]["state"] %} class="goal_item_done" {% endif %}>
                        <input type="checkbox" name="goal_item_title" value="{{ goalitem.title }}">
                          {{ goalitem.title }}
                      </li>
                      {% endfor %}
                      <input type="submit" name="edit_button" class="btn btn-success" style="margin-top:10px;" value="完了<->未完了">
                      <input type="submit" name="edit_button" class="btn btn-danger" style="margin-top:10px;" value="削除">
                    </form>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
